<html>
    <head>
        <title>DIARIO ONLINE</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Diario de Ringo</a></h1>
        </div>

        {% for post in posts %}
            <div>
                
                <h2><a href=""> {{ post.title }}</a></h2>                
                <p> {{ post.text|linebreaksbr }}</p>
                <p> publicado: {{ post.published_date }}</p>
            
            </div>
             
            
        {% endfor %}
        
    </body>
</html>